<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Space+Grotesk:wght@600;700&display=swap"
    rel="stylesheet">

<body>
    <div id="nav">
        <div id="profile">
            <div id="photo"></div>
            <p id="username">joao da silva santos pereira</p>
            <p id="email">faiojsd@gmail.com</p>
        </div>
        <svg fill="none" viewBox="0 0 24 24" id="logOut">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.75 8.75L19.25 12L15.75 15.25"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H10.75"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H15.25"></path>
        </svg>
    </div>
    <div id="welcome">
        <p id="welcomeMessage">Welcome Back!</p>
        <p id="welcomeName"> NOME.</p>
        <div id="progress">
            <h1>Progresso</h1>
            <p id="current">23</p>
            <p id="goal">/ 30</p>
        </div>
    </div>
    <div id="workouts">
        <div class="training" id="today">
            <h1>Treino A</h1>
            <p class="description">
                Agachamento: 4 X 12;<br>
                Biceps: 3 X 10;<br>
                Leg press: 5 X 5;
            </p>
            <button>FINALIZAR TREINO</button>
        </div>
        <div id="next">
            <div class="training">
                <h1>Treino A</h1>
                <p class="description">
                    Agachamento: 4 X 12;<br>
                    Biceps: 3 X 10;<br>
                    Leg press: 5 X 5;
                </p>
            </div>
            <div class="training">
                <h1>Treino A</h1>
                <p class="description">
                    Agachamento: 4 X 12;<br>
                    Biceps: 3 X 10;<br>
                    Leg press: 5 X 5;
                </p>
            </div>
        </div>
    </div>
    <div id="track">
        <h1>Treinos</h1>
        <div class="trackWorkouts">
            <h2>A</h2>
            <p> Agachamento: 4 X 12;<br>
                Biceps: 3 X 10;<br>
                Leg press: 5 X 5;
            </p>
        </div>
        <div class="trackWorkouts">
            <h2>B</h2>
            <p> Agachamento: 4 X 12;<br>
                Biceps: 3 X 10;<br>
                Leg press: 5 X 5;
            </p>
        </div>
        <div class="trackWorkouts"></div>
        <div class="trackWorkouts"></div>
        <div class="trackWorkouts"></div>
    </div>
</body>
