<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Space+Grotesk:wght@600;700&display=swap"
    rel="stylesheet">

<body>
    <div id="nav">
        <div id="profile">
            <div id="photo"></div>
            <p id="username">{{nome}}</p>
            <p id="email">{{email}}</p>
        </div>
        <svg fill="none" viewBox="0 0 24 24" id="logOut" (click)="logOut()">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.75 8.75L19.25 12L15.75 15.25"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H10.75"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H15.25"></path>
        </svg>
    </div>
    <div id="welcome">
        <p id="welcomeMessage">Welcome Back!</p>
        <p id="welcomeName"> {{nome}}</p>
        <div id="progress" *ngIf="acompanhamento">
            <h1>Progresso</h1>
            <p id="current">{{acompanhamento.treinosRealizados}}</p>
            <p id="goal">/ {{acompanhamento.treinosMeta * acompanhamento.treinos.length}}</p>
        </div>
    </div>
    <div *ngIf="!acompanhamento">
        Um professor irá criar um acompanhamento para você
    </div>
    <div id="workouts" *ngIf="acompanhamento">
        <div class="training" id="today" *ngIf="proximoTreino">
            <h1>Treino {{proximoTreino.tipo}}</h1>
            <p class="description">
                <a *ngFor="let line of proximoTreino.descricao.split('\n')">
                    {{line}}<br>
                </a>
            </p>
            <button (click)="finalizarTreino()">FINALIZAR TREINO</button>
        </div>
        <div id="next">
            <div class="training" *ngFor="let treino of acompanhamento.treinos">
                <h1>Treino {{treino.tipo}}</h1>
                <p class="description">
                    <a *ngFor="let line of treino.descricao.split('\n')">
                        {{line}}<br>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div id="track" *ngIf="acompanhamento">
        <h1>Treinos</h1>
        <div class="trackWorkouts" *ngFor="let treino of acompanhamento.treinos">
            <h2>{{treino.tipo}}</h2>
            <p> 
                <a *ngFor="let line of treino.descricao.split('\n')">
                {{line}}<br>
            </a>
            </p>
        </div>
    </div>
</body>
