<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Lora:wght@400;500;600;700&family=Space+Grotesk:wght@600;700&display=swap" rel="stylesheet">

<body>
    <div class="menu">
        <app-start-menu></app-start-menu>
    </div>
    <div class="start">
        <h1>
            ACOMPANHAMENTO<br>
            DE <span id="meio">TREINOS</span><br>
        </h1>
        <p>
            Acompanhamento personalizado <br>
            e individual de treinos<br>
            para o desenvolvimento físico.
        </p>
    </div>
    
</body>
