body{
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Lato', 'Space Grotesk', 'Lora';
    user-select: none;
}

.menu{
    position: absolute;
    height: 100vh;
    width: 100vw;
}

h1{
    position: absolute;
    left: 14%;
    top: 37%;
    transform: translateY(-50%);
    font-size: 52pt;
    font-weight: 400;
    font-family: 'Space Grotesk';
    color: #ececec;
}

#meio{
    color: #8e7e71;
}

p{
    position: absolute;
    left: 14%;
    top: 52%;
    width: 370px;
    color: #808080;
    font-size: 13pt;
    font-weight: 600;
    font-family: 'Space Grotesk';
}