:root {
    --off-white: #d91616;
    --dark-gray: #1C1C1C;
    --off-glack: #141414;
}

.login {
    width: 100%;
    height: 100vh;
    background-image: url(login.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', 'Space Grotesk';
    color: #141414;
    user-select: none;
}

svg{
    position: absolute;
    width: 30px;
    left: 130px;
    top: 70px;
    fill: #1c1c1c;
    cursor: pointer;
}

#home:hover svg{
    fill: #484848;
}

.sign {
    font-size: 18px;
    color: #313131;
    font-family: 'Space Grotesk';
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 12%;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    outline: none;
}
  
.sign:focus:after,
.sign:hover:after {
    width: 100%;
    left: 0%;
}
  
.sign:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #5d5d5d;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

#call {
    top: 50%;
    transform: translateY(-50%);
    right: 20%;
    font-family: 'Space Grotesk';
    position: absolute;
    font-size: 52pt;
    font-weight: bold;
    line-height: 60pt;
    text-align: end;
}

.signIn {
    position: absolute;
    width: 30%;
    right: 55%;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    font-size: 16pt;
    font-variant-caps: all-petite-caps;
    font-weight: 900;
}

.signIn p{
    color: #141414;
    width: 65%;
    letter-spacing: 1px;
    line-height: 15pt;
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    position:relative;
}


#enter{
    border: none;
    outline: none;
    font-size: 10pt;
    font-weight: 900;
    letter-spacing: 3px;
    right: 0;
    background-color: #141414;
    color: #f2f2f2;
    width: 150px;
    padding: 10px 35px 10px 35px;
    cursor: pointer;
}

#enter span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
   
#enter span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: -30%;
    right: -20px;
    font-size: 14pt;
    transition: 0.5s;
}
   
#enter:hover span {
    padding-right: 15px;
}
   
#enter:hover span:after {
    opacity: 1;
    right: 0;
}

input {
    padding: 15pt;
    font-size: 11pt;
    font-weight: 800;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    border-bottom: #C2C2C2 solid 1px;
    outline: none;
}

input::placeholder{
    color: #797979;
}

.first {
    border-top: #C2C2C2 solid 1px;
}

.signIn #enter{
    margin-left: 70%;
}

#error{
    position: absolute;
    top: 27%;
    left: 28%;
    color: transparent;
    width: max-content;
    animation: animacaoInfo 700ms linear forwards;
    animation-delay: 1s;
}

@keyframes animacaoInfo{
    0%{
        color: transparent;
    }
    50%{
        color: transparent;
    }
    60%{
        color: #ed4337;
    }
    100%{
        color: #ed4337;
    }
}

#error::after{
    content: '';
    height: 110%;
    background-color: #ed4337;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: animacao 500ms linear backwards;
    animation-delay: 1s;
}

@keyframes animacao {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    75% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}