<div class="menu">
    <div class="logo">
        <img src="./logo-academia.png" alt="Logo">
    </div>
    <div class="sign">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              About us
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
        <button class="btn btn-outline-dark" [routerLink]="[ '/login']">
            Login
        </button>
        <button class="btn btn-dark" [routerLink]="[ '/login']">
            Register
        </button>
    </div>
</div>
