#logo{
    position: absolute;
    left:130px;
    top: 70px;
    aspect-ratio: 1;
    width: 60px;
    background-image: url(./haltere.png);
    background-size: cover;
    background-position: center;
}

button{
    outline: none;
    border:none;
    font-size: 10pt;
    font-weight: 900;
    letter-spacing: 3px;
    right: 0;
    background-color: #f2f2f2;
    color: #1c1c1c;
    width: 210px;
    padding: 7px 40px 7px 15px;
}

#sign{
    position: absolute;
    right: 5%;
    top: 90px;
}