<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Space+Grotesk:wght@600;700&display=swap"
    rel="stylesheet">

<body>
    <div id="nav">
        <div id="profile">
            <div id="photo"></div>
            <p id="username">joao da silva santos pereira</p>
            <p id="email">faiojsd@gmail.com</p>
        </div>
        <svg fill="none" viewBox="0 0 24 24" id="logOut" (click)="logOut()">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.75 8.75L19.25 12L15.75 15.25"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H10.75"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H15.25"></path>
        </svg>
    </div>

    <div id="info">
        <h1>NEW TRACK</h1>
        <div id="inputs">
            <input type="text" class="inputTracking" placeholder="NOME">
            <input type="number" min="10" max="60" class="inputTracking" placeholder="META DE TREINOS  (10-30)">
            <div class="newTraining">
                <input type="radio" name="letter" id="a">
                <label for="a">A</label>
                <textarea class="trainDescription" placeholder="descrição"></textarea>
                <input type="radio" name="letter" id="b">
                <label for="b">B</label>
                <textarea class="trainDescription" placeholder="descrição"></textarea>
                <input type="radio" name="letter" id="c">
                <label for="c">C</label>
                <textarea class="trainDescription" placeholder="descrição"></textarea>
                <input type="radio" name="letter" id="d">
                <label for="d">D</label>
                <textarea class="trainDescription" placeholder="descrição"></textarea>
                <input type="radio" name="letter" id="e">
                <label for="e">E</label>
                <textarea class="trainDescription" placeholder="descrição"></textarea>
            </div>
        </div>
        <button class="button"> CREATE </button>
    </div>
    
    <div id="tracking">
        <div id="trackingTitle">
            <h1>Tracking</h1>
        </div>
        <div class="itens">
            <div class="trackItem">
                <h1 class="name">Joao da Silva Santos</h1>
                <p class="current">23</p>
                <p class="goal">/ 30</p>
                <p class="training">traning · ABC</p>
                <p class="description">dsjfoasd faidsjfoa sdofj iaojsd formArrayName <br>
                    ioafjsdf <br>
                    adsiofjasdofi <br>
                    asdfijoasd <br>
                    faisdojfa <br>
                    dfiaodf <br>
                    asdijfas
                </p>
            </div>
            <div class="trackItem">
                <h1 class="name">Gustovo doijafs diafo disoj</h1>
                <p class="training">traing · ABCD</p>
                <p class="current">23</p>
                <p class="goal">/ 30</p>
            </div>
            <div class="trackItem">
                <h1 class="name">Gustovo doijafs diafo disoj</h1>
                <p class="training">traing · ABCD</p>
                <p class="current">23</p>
                <p class="goal">/ 30</p>
            </div>
            <div class="trackItem">
                <h1 class="name">Gustovo doijafs diafo disoj</h1>
                <p class="training">traing · ABCD</p>
                <p class="current">23</p>
                <p class="goal">/ 30</p>
            </div>
            <div class="trackItem">
                <h1 class="name">Gustovo doijafs diafo disoj</h1>
                <p class="training">traing · ABCD</p>
                <p class="current">23</p>
                <p class="goal">/ 30</p>
            </div>
            <div class="trackItem">
                <h1 class="name">Gustovo doijafs diafo disoj</h1>
                <p class="training">traing · ABCD</p>
                <p class="current">23</p>
                <p class="goal">/ 30</p>
            </div>
            <div class="trackItem">
                <h1 class="name">Gustovo doijafs diafo disoj</h1>
                <p class="training">traing · ABCD</p>
                <p class="current">23</p>
                <p class="goal">/ 30</p>
            </div>
        </div>
        <div *ngFor="let acompanhamento of acompanhamentos" id="excluir">
            <app-acompanhamento-item [acompanhamento]="acompanhamento"></app-acompanhamento-item>
        </div>
    </div>



</body>