:host{
    --off-white: #ececec;
    --light-gray: #808080;
    --gray: #626262;
    --dark-gray: #1c1c1c;
    --off-black: #141414;
}

*{
    margin: 0;
    border: 0;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Space Grotesk', 'Lato';
    background-color: var(--off-black);
    color: var(--off-white);
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 9fr;
}

#nav{
    position: relative;
    border-bottom: 2px solid var(--off-white);
    grid-area: 1 / 1 / 1 / 3;
}

#logOut{
    width: 30px;
    position: absolute;
    right: 1.5%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#profile{
    position: absolute;
    top: 4.5vh;
    transform: translateY(-50%);
    right: 6vw;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
}

#photo{
    grid-row: span 2;
    background-color: var(--dark-gray);
    aspect-ratio: 1;
    border-radius: 50%;
}

#username{
    padding: 0 0 0 10px;
    position: relative;
    top: 30%;
    font-weight: bold;
    text-transform: uppercase;
}

#email{
    padding: 0 0 0 10px;
    position: relative; 
    font-size: 0.8em;
    font-weight: 600;
    color: var(--gray);
}

#info{
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    border-right: 2px solid var(--off-white);
}

#info h1{
    position: relative;
    left: 8%;
    top: 2%;
    font-size: 28pt;
    user-select: none;
}

#inputs{
    position: relative;
    width: 80%;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputTracking{
    outline: none;
    color: var(--off-white);
    padding: 10px 0px 10px 0px;
    font-weight: 600;
    font-size: 15pt;
    letter-spacing: 1px;
    background-color: var(--off-black);
    border: none;
    border-bottom: 2px var(--gray) solid;
    transition: all 200ms ease-out;
    text-transform: capitalize;
}

.inputTracking::placeholder{
    color: var(--light-gray);
    font-weight: 800;
    font-size: 14pt;
}

.inputTracking:is(:focus),
.inputTracking:not(:placeholder-shown) {
    padding: 10px 15px 12px 15px;
    background-color: var(--dark-gray);
    border: none;
}

.newTraining{
    width: 100%;
    height: 480px;
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    scroll-behavior: smooth;
    transition: 1s ease-out;
    padding: 10px;
}

.newTraining::-webkit-scrollbar {
    width: 4px;
}

.newTraining::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 3.5px;
}

input[type="radio"]{
    display: none;
}

label{
    border: var(--gray) 2px dotted;
    width: 100%;
    height: 40px;
    padding: 5px 0 5px 15px;
    user-select: none;
    text-align: center;
}

label:has(+ .trainName:not(:placeholder-shown)) {
    border: none;
    background-color: var(--dark-gray);
}

input[type=radio]:checked + label + input{
    display: block;
}

input[type=radio]:checked + label + input + textarea{
    height: 200px;
    padding: 10px;
    margin: 5px 0 10px 0;
}

.newWorkoutBox{
    height: 50%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
}

.trainName{
    font-size: 11pt;
    font-weight: 600;
    letter-spacing: 1px;
    height: 40px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    color: var(--off-white);
    padding: 10px 0px 10px 0px;
    background-color: var(--off-black);
    border: none;
    border-bottom: 1px var(--gray) solid;
    transition: all 200ms ease-out;
    text-transform: capitalize;
    display: none;
}

.trainName::placeholder{
    color: var(--light-gray);
    font-weight: 800;
    font-size: 12pt;
}

.trainName:is(:focus),
.trainName:not(:placeholder-shown) {
    padding: 10px 15px 11px 15px;
    background-color: var(--dark-gray);
    border: none;
}

.trainDescription{
    transition: all 0.35s ease-out;
    position: relative;
    font-size: 11pt;
    font-family: 'Lato';
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 18pt;
    background-color: var(--dark-gray);
    color: var(--off-white);
    height: 0;
    padding: 0;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

.trainDescription::placeholder{
    color: var(--gray);
    font-weight: 600;
    font-size: 11pt;
    user-select: none;
}

.trainDescription::-webkit-scrollbar {
    width: 4px;
}

.trainDescription::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 3.5px;
}

#addWorkOut{
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 10pt;
    font-weight: 800;
    letter-spacing: 1px;
    position: sticky;
    bottom: 0;
    left: 100%;
    background-color: #f2f2f2;
    color: #141414;
    width: 150px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

#addWorkOut span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#addWorkOut span:after {
    content: '+';
    font-size: 10pt;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
   
#addWorkOut:hover span {
    padding-right: 15px;
}
   
#addWorkOut:hover span:after {
    opacity: 1;
    right: 0;
}

.button{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 50px;
    background-color: var(--off-white);
    border: none;
    font-weight: bold;
    font-size: 14pt;
    letter-spacing: 1px;
    color: var(--dark-gray);
    cursor: pointer;
    user-select: none;
    outline: none;
}

#tracking{
    grid-area: 2 / 2 / 3 / 3;
    overflow-y: scroll;
    padding-right: 10px;
    scroll-behavior: smooth;
    height: 90vh;
}

#tracking::-webkit-scrollbar {
    width: 5px;
}

#tracking::-webkit-scrollbar-thumb{
    background-color: var(--light-gray);
    border-radius: 3.5px;
}

#trackingTitle{
    padding: 20px 10px 0 10px;
    position: sticky;
    top: 0;
    background-color: var(--off-black);
    z-index: 4;
    height: fit-content;
}

#trackingTitle h1{
    font-size: 42pt;
    user-select: none;
    padding: 0 0 20px 50px;
    border-bottom: 2px solid var(--light-gray);
}

.trackItem{
    position: relative;
    height: 150px;
    font-size: 16pt;
    overflow: hidden;
    transition: 0.6s ease-out;
    padding: 0 30px 0 20px;
}

#tracking:hover .trackItem{
    color: var(--gray);
}

#tracking:hover .trackItem:hover{
    height: 600px;
    color: var(--off-white);
}

.trackItem::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    z-index: 0;
    background-color: var(--dark-gray);

    transition: all 300ms ease-in;
}

.trackItem:hover::before{
    width: 100%;
}

.trackItem::after{ /*border*/
    content: '';
    width: 90%;
    height: 1px;
    background-color: var(--gray);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.name{
    position: relative;
    top: 75px;
    transform: translateY(-50%);
    left: 10%;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
}

.training{
    font-family: 'Lato';
    position: absolute;
    top: 75px;
    transform: translateY(-50%);
    left: 65%;
    font-size: 0.55em;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.current{
    position: absolute;
    top: 75px;
    transform: translateY(-50%);
    right: 90px;
    font-size:56pt;
    font-weight: bold;
}

.goal{
    position: absolute;
    font-size: 16pt;
    top: 40px;
    right: 40px;
    color: var(--light-gray);
}

.description{
    font-family: 'Lato';
    font-size: 0.8em;
    position: relative;
    top: 150px;
    left: 5%;
    width: 90%;
    background-color: #282828;
    padding: 20px;
    overflow-y: scroll;
    max-height: 350px;
}

.description::-webkit-scrollbar {
    width: 4px;
}

.description::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 3.5px;
}

#excluir{
    display: none;
}