<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Space+Grotesk:wght@600;700&display=swap"
    rel="stylesheet">

<body>
    <div id="nav">
        <div id="profile">
            <div id="photo"></div>
            <p id="username">{{nome}}</p>
            <p id="email">{{email}}</p>
        </div>
        <svg fill="none" viewBox="0 0 24 24" id="logOut" (click)="logOut()">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.75 8.75L19.25 12L15.75 15.25"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 12H10.75"></path>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.25 4.75H6.75C5.64543 4.75 4.75 5.64543 4.75 6.75V17.25C4.75 18.3546 5.64543 19.25 6.75 19.25H15.25"></path>
        </svg>
    </div>

    <div id="info">
        <h1>NEW TRACK</h1>
        <div id="inputs">
            <input type="text" class="inputTracking" placeholder="NOME DO ALUNO" [(ngModel)]="nomeAlunoNovoAcomp" #nomeAluno (change)="changeNomeAluno(nomeAluno)">
            <p *ngIf="!alunoEncontrado">Aluno não encontrado!</p>
            <input type="number" min="10" max="60" class="inputTracking" placeholder="META DE TREINOS  (10-30)" #meta (change)="changeMetaTreinos(meta)">
            <p *ngIf="!numTreinosCorreto">Insira um número entre 10 e 30</p>
            <div class="newTraining">
                <div class="a" *ngIf="this.tiposTreino.length >= 1">
                    <input type="radio" name="letter" id="a">
                    <label for="a">A</label>
                    <input type="text" class="inputTracking" placeholder="NOME" [(ngModel)]="this.novoAcompanhamento.treinos[0].nome"> <!--fazer css para sumir junto com a descrição-->
                    <textarea class="temporaryDescription" placeholder="DESCRIÇÃO" [(ngModel)]="this.novoAcompanhamento.treinos[0].descricao"></textarea>
                </div>
                <div class="b" *ngIf="this.tiposTreino.length >= 2">
                    <input type="radio" name="letter" id="b">
                    <label for="b">B</label>
                    <input type="text" class="inputTracking" placeholder="NOME" [(ngModel)]="this.novoAcompanhamento.treinos[1].nome"> <!--fazer css para sumir junto com a descrição-->
                    <textarea class="temporaryDescription" placeholder="DESCRIÇÃO" [(ngModel)]="this.novoAcompanhamento.treinos[1].descricao"></textarea>
                </div>
                <div class="b" *ngIf="this.tiposTreino.length >= 3">
                    <input type="radio" name="letter" id="c">
                    <label for="c">C</label>
                    <input type="text" class="inputTracking" placeholder="NOME" [(ngModel)]="this.novoAcompanhamento.treinos[2].nome"> <!--fazer css para sumir junto com a descrição-->
                    <textarea class="temporaryDescription" placeholder="DESCRIÇÃO" [(ngModel)]="this.novoAcompanhamento.treinos[2].descricao"></textarea>
                </div>
                <div class="b" *ngIf="this.tiposTreino.length >= 4">
                    <input type="radio" name="letter" id="d">
                    <label for="d">D</label>
                    <input type="text" class="inputTracking" placeholder="NOME" [(ngModel)]="this.novoAcompanhamento.treinos[3].nome"> <!--fazer css para sumir junto com a descrição-->
                    <textarea class="temporaryDescription" placeholder="DESCRIÇÃO" [(ngModel)]="this.novoAcompanhamento.treinos[3].descricao"></textarea>
                </div>
                <div class="b" *ngIf="this.tiposTreino.length >= 5">
                    <input type="radio" name="letter" id="e">
                    <label for="e">E</label>
                    <input type="text" class="inputTracking" placeholder="NOME" [(ngModel)]="this.novoAcompanhamento.treinos[4].nome"> <!--fazer css para sumir junto com a descrição-->
                    <textarea class="temporaryDescription" placeholder="DESCRIÇÃO" [(ngModel)]="this.novoAcompanhamento.treinos[4].descricao"></textarea>
                </div>
                <p *ngIf="campoVazio">Preencha todos os campos.</p>
                <button class="addWorkOut" (click)="adicionarTreino()">Add workout</button>
            </div>
        </div>
        <button class="button" (click)="onSubmit()"> CREATE </button>
    </div>
    
    <div id="tracking">
        <div id="trackingTitle">
            <h1>Tracking</h1>
        </div>
        <div class="itens" *ngFor="let acompanhamento of acompanhamentos">
            <app-acompanhamento-item [acompanhamento]="acompanhamento"></app-acompanhamento-item>
        </div>
    </div>
</body>