:host {
    --off-white: #e7e7e7;
    --light-gray: #cfcfcf;
    --dark-gray: #1C1C1C;
    --gray:#333333;
    --off-black: #141414;
    --error: #ff3333;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--off-black);
    font-family: 'Lato', 'Space Grotesk';
    color: var(--off-white);
}

svg{
    position: absolute;
    width: 30px;
    left: 130px;
    top: 70px;
    fill: var(--off-white);
}

#home:hover svg{
    fill: var(--off-white);
}

button{
    border: none;
    outline: none;
    font-size: 10pt;
    font-weight: 900;
    letter-spacing: 3px;
    right: 0;
    background-color: var(--off-white);
    color: var(--dark-gray);
    width: 150px;
    padding: 5px 70px 5px 20px;
}

#userType{
    padding: 0 0 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

input[type="radio"]{
    display: none;
}

label{
    height: 100%;
    font-size: 16pt;
    font-weight: 700;
    border: var(--gray) 2px solid;
    padding: 10px 30px 10px 30px;
    text-align: center;
    border-radius: 5px;
}

input[type="radio"]:checked + label {
    border: var(--off-white) 2px solid;
}

.sign{
    position: absolute;
    right: 130px;
    top: 70px;  
}

#call {
    top: 20%;
    left: 20%;
    font-family: 'Space Grotesk';
    position: absolute;
    font-size: 52pt;
    font-weight: bold;
    line-height: 60pt;
}

.signUp {
    position: absolute;
    width: 30%;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-size: 16pt;
    font-variant-caps: all-petite-caps;
    font-weight: 900;
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    position:relative;
}

.inputs{
    width: 100%;
    border-bottom: #C2C2C2 solid 1px;
    transition: all 1s ease-in;
}

.inputs p{
    color: var(--error);
    font-size: 12pt;
    position: relative;
    left: 20px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 18px 20px 18px 20px;
    font-size: 11pt;
    font-weight: 800;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--off-white);
}

input::placeholder{
    color: var(--light-gray);
}

.first {
    border-top: #C2C2C2 solid 1px;
}

.signUp button{
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}

#cref {
    display: auto;
}

#professorUser:checked #cref{
    display: none;
}