:host {
    --off-white: #e7e7e7;
    --light-gray: #cfcfcf;
    --dark-gray: #1C1C1C;
    --gray:#333333;
    --off-black: #141414;
    --error: #ff3333;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(register.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', 'Space Grotesk';
    color: var(--off-white);
}

svg{
    position: absolute;
    width: 30px;
    left: 130px;
    top: 70px;
    fill: var(--off-white);
    cursor: pointer;
}

#home:hover svg{
    fill: #989898;
}

#enter{
    border: none;
    outline: none;
    font-size: 10pt;
    font-weight: 900;
    letter-spacing: 3px;
    right: 0;
    background-color: #f2f2f2;
    color: #141414;
    width: 150px;
    padding: 10px 35px 10px 35px;
    cursor: pointer;
}

#enter span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
   
#enter span:after {
    content: '»';
    font-size: 14pt;
    position: absolute;
    opacity: 0;
    top: -30%;
    right: -20px;
    transition: 0.5s;
}
   
#enter:hover span {
    padding-right: 15px;
}
   
#enter:hover span:after {
    opacity: 1;
    right: 0;
}

#userType{
    padding: 0 0 30px 0;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-gap: 30px;
    user-select: pointer;
}

#userType p{
    text-align: center;
    position: relative;
    top: 20%;
    user-select: none;
}

input[type="radio"]{
    display: none;
}

label{
    grid-column: span 1;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    font-size: 24pt;
    font-weight: 700;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    user-select: none;
    color: var(--gray);
    cursor: pointer;
}

input[type="radio"]:checked + label{
    color: var(--off-white);
}

input[type="radio"]:checked + label::after{
    width: 70%;
    left: 0%;
}
  
label::after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(20%, -50%);
    width: 0%;
    height: 3px;
    background-color: var(--light-gray);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
    z-index: 2;
}

.sign {
    font-size: 18px;
    color: #e6e6e6;
    font-family: 'Space Grotesk';
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 12%;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    outline: none;
}
  
.sign:focus:after,
.sign:hover:after {
    width: 100%;
    left: 0%;
}
  
.sign:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #d1d1d1;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

#call {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
    font-family: 'Space Grotesk';
    font-size: 46pt;
    font-weight: bold;
    line-height: 60pt;
    user-select: none;
}

.signUp {
    position: absolute;
    width: 30%;
    left: 55%;
    top: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-size: 16pt;
    font-variant-caps: all-petite-caps;
    font-weight: 900;
}

.form{
    display: grid;
    grid-template-columns: 1fr;
    position:relative;
}

.inputs{
    width: 100%;
    border-bottom: #C2C2C2 solid 1px;
    transition: all 1s ease-in;
}

.inputs p{
    color: var(--error);
    font-size: 12pt;
    position: relative;
    left: 20px;
    top:-15px;
    font-weight: 600;
    user-select: none;
    margin: 0;
}

input {
    width: 100%;
    padding: 18px 20px 18px 20px;
    font-size: 11pt;
    font-weight: 800;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--off-white);
}

input::placeholder{
    color: var(--light-gray);
}

.first {
    border-top: #C2C2C2 solid 1px;
}

.signUp #enter{
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    bottom: 0;
}

#cref {
    display: auto;
}

#professorUser:checked #cref{
    display: none;
}

#blank{
    position: absolute;
    top: 65px;
    left: 25%;
    color: #ed4337;
    user-select: none;
}