*{
    font-family: 'Space Grotesk';
    margin: 0;
    padding: 0;
    user-select: none;
    font-size: 12pt;
}

.tipo{
    width: 100%;
    background-color: #202020c6;
    font-size: 14pt;
    padding: 10px;
}

.descricao{
    padding: 10px 0 10px 20px;
}